#f1_container {
    margin-top:0px;
    padding-top:0px;
    position: relative;
    width: auto;
    height: 125px;
  
}

#f1_container {
    perspective: 1000;
}

#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.f1_card {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
   
}

    .face.back {
        display: block;
        transform: rotateY(180deg);
        color: white;
      
        position: absolute; /* Position the background text */
        top: 0; /* At the bottom. Use top:0 to append it to the top */
        background:none; /* Fallback color */
        background: none; /* Black background with 0.5 opacity */
       
    }
hr {
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.login-box-msg, .register-box-msg {
    margin: 0;
    padding: 0px;
    text-align: center;
    font-family: arial;
    font-size: larger;
}
label:not(.form-check-label):not(.custom-file-label) {
    /* font-weight: 700; */
    font-family: arial;
    font-size: small;
}
.shadow-Box {
    border-radius: 25px;
}
.login-logo {
    position: relative;
    margin-top: 60px;
}
.login-page {
    height: 40vh;
    background: url('../Img/Imagebg6.JPG') center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.login-box {
    margin: 0px;
    padding: 0px;
    width: 400px;
}

.login-card-body, .register-card-body {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 25px;
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.25); /* Black background with 0.5 opacity */
    color:white; /* Grey text */
    width: 100%; /* Full width */
    
}
    .login-card-body:hover {
        box-shadow: 0 8px 16px 0 rgba(0.2, 0.2, 0.2, 0.5);
    }

.btn {
    color: white;
}
.bg-orange, .bg-orange > a {
    color: #f8f9fa !important;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.form-control:focus {
    border: 1px solid #fd7e14;
}
.fas:focus {
    border: 1px solid #fd7e14;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #fd7e14;
}

@media screen and (min-width: 400px) {
    body {
            font-family: arial;
        }

        .login-page {
            height: 40vh;
            background: url('../Img/Imagebg6.JPG') center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            max-height: 700px;
        }
    }
